<!DOCTYPE html>

<html>
<head>
    <title>SignalR Test</title>
</head>
<body>
    <div>
        <h1>Signal R: <span id="status"></span></h1>
        <div>
            <span>Data Version: </span>
        </div>
        <div>
            <span id="data-version">No Version</span>
        </div>
        <div>
            <span>Data: </span>
        </div>
        <div>
            <span id="data">No Data</span>
        </div>
    </div>
</body>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        function loadData(id) {
            $.get('/api/data' + (id ? "/" + id : "")).done(function (data) {
                $("#data").text(data.Data);
                $("#data-version").text(data.Guid);
            });
        }

        function connect() {
            $.connection.hub.start()
            .done(function () { loadData(); })
            .fail(function () { $("#status").text("Not Connected"); });
        }

        var refreshDataHub = $.connection.refreshDataHub;
        refreshDataHub.client.refreshData = function (dataId) {
            $("#data-version").text(dataId);
            $("#data").text("Loading...");
            loadData(dataId);
        };

        $.connection.hub.reconnected(function () {
            loadData();
        });

        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                connect();
            }, 5000); // Restart connection after 5 seconds.
        });

        $.connection.hub.stateChanged(function (state) {
            var stateConversion = { 0: 'connecting', 1: 'connected', 2: 'reconnecting', 4: 'disconnected' };
            $("#status").text(stateConversion[state.newState]);
        });

        connect();
    });
</script>
</html>